* {
  margin: 0;
  padding: 0;
}
body {
  background: #f2f2f2;
  overflow-x: hidden;
  font-family: "montserrat", sans-serif;
}
section {
  margin: 2rem 0;
}
button,
input {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
button:active,
button:focus,
input:focus {
  outline: none;
}
/* utility */
.text-center {
  text-align: center;
}
.link {
  text-decoration: none;
  color: #5c94e1;
}
.muted {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #e0e0e0;
}
.upper {
  text-transform: uppercase;
}
.capital {
  text-transform: capitalize;
}
.m-auto {
  margin: auto;
}
.ml-auto {
  margin-left: auto;
}
.img-fluid {
  display: block;
  width: 100%;
}
.heading-1 {
  font-size: 2rem;
  font-weight: 600;
}
.shadow-b,
shadow {
  transition: all 0.5s;
}
.shadow-b:hover {
  box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.25);
}
.shadow:hover {
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.25);
}
.column-1 {
  column-count: 1;
}
/* components */
.about-me {
  border-radius: 0.7rem;
  position: relative;
  background-color: #fff;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.about-me img {
  height: 300px;
  object-fit: cover;
  object-position: 100% 20%;
  border-radius: 0.6rem;
}
.user-info {
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.who-am-i {
  margin: 1rem 0;
}
.who-am-i h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #4f4f4f;
  margin: 0;
}
.who-am-i p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}
.contact-info {
  margin: 1rem 0;
}
.contact-info span {
  color: #4f4f4f;
  margin: 0 0.8rem 0 0;
  vertical-align: middle;
}
.contact-info h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4f4f4f;
  margin: 0 0 0.5rem;
}
.intro {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
}
/* media queries */
@media all and (min-width: 768px) {
  .about-me {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem;
    transition: all 0.5s;
  }
  .about-me img {
    height: 250px;
    width: 350px;
  }
  .who-am-i h3 {
    margin: 0 0 0.5rem;
  }
  .user-info {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0 1rem;
  }
  .intro {
    display: block;
    margin: 1.5rem 0 0;
    padding: 0 0 0 1rem;
  }
}
@media all and (min-width: 991px) {
  .about-me img {
    height: 300px;
  }
  .user-info {
    margin: 0 1rem;
  }
  .intro {
    margin: 2rem 1rem 0;
    padding: 0 5rem 0 1rem;
  }
}
/* about me ends */
.project {
  background-color: #fff;
  position: relative;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.project img {
  height: 250px;
  border-radius: 0.6rem;
}
.content {
  padding: 0;
}
.project-tags {
  margin: 1rem 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
}
.project-title {
  margin: 1rem 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.project-desc {
  margin: 1rem 0 2rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.project-btns {
  margin: 1rem 0;
}
.project-btns button {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 0.7rem 2rem;
  border-radius: 12px;
  transition: all 0.5s;
}
.cta-1 {
  color: #ffffff;
  background: #5c94e1;
}
.cta-1:hover {
  background-color: #fff;
  color: #5c94e1;
  border: 1px solid #5c94e1;
}
.cta-2 {
  margin: 0 0 0 0.5rem;
  color: #5c94e1;
  border: 1px solid #5c94e1;
}
.cta-2:hover {
  color: #ffffff;
  background: #5c94e1;
}
@media all and (min-width: 768px) {
  .project {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem;
    transition: all 0.5s;
  }
  .project img {
    height: 250px;
    width: 350px;
  }
  .content {
    padding: 0 0 0 1.5rem;
  }
  .project-tags {
    margin: 0 0 1rem;
  }
  .project-title {
    margin: 2rem 0 1rem;
  }
  .project-desc {
    margin: 1rem 0 2rem;
  }
  .project-btns {
    margin: 1rem 0 0;
  }
  .project-btns button {
    padding: 0.5rem 1rem;
  }
}
@media all and (min-width: 991px) {
  .project img {
    height: 300px;
  }
  .content {
    padding: 0 0 0 3rem;
  }
  .project-desc {
    display: block;
    margin: 1rem 10rem 4.7rem 0;
  }
  .project-btns button {
    padding: 0.7rem 2rem;
  }
}
/* project ends */
.skills {
  background-color: #fff;
  position: relative;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.7rem;
}
.skills h2 {
  margin: 0 0 1rem;
}
.skills-column {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.skills-column p {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
progress {
  vertical-align: middle;
  height: 9px;
  width: 100%;
  background: #c4c4c4;
  border-radius: 12px;
}
progress[value]::-moz-progress-bar {
  background: rgba(47, 128, 237, 0.7);
  height: 9px;
  border-radius: 12px;
}
@media all and (min-width: 991px) {
  .skills h2 {
    margin: 0 0 1rem 2rem;
  }
  .skills-column p {
    width: 40%;
    margin: 0.5rem 2rem;
  }
  progress {
    width: 300px;
  }
}
/* skills ends */
.blogs {
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
  padding: 1rem;
  margin: 0.5rem;
  display: block;
}
.blogs .muted {
  margin: 0.5rem 0;
}
.blogs img {
  border-radius: 12px;
  height: 200px;
}
.blog-title {
  margin: 1rem 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}
.blog-desc {
  margin: 1rem 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
}
.blog-desc p {
  margin: 0.5rem 0;
}
@media all and (min-width: 768px) {
  .blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 200px 120px 20px;
  }
  .blogs .muted {
    grid: 1/2/1/2;
  }
  .blogs img {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .blog-title {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .blog-desc {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .blogs .link {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}
@media all and (min-width: 991px) {
  .blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 100px 180px 20px;
  }
  .blogs .muted {
    grid-column: 1/2;
  }
  .blogs img {
    grid-row: 1/5;
    grid-column: 2/3;
    height: 100%;
  }
  .blog-title {
    grid-column: 1/2;
  }
  .blog-desc {
    grid-column: 1/2;
    margin: 1rem 0rem 1rem 0;
  }
  .blogs .link {
    grid-column: 1/2;
  }
}
/* blogs ends */
#experience {
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
  padding: 1rem;
  margin: 0.5rem;
}
.exp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.exp-muted {
  margin: 0 0 0.5rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
#experience h2 {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #4f4f4f;
}
.exp-card {
  margin: 1rem 0;
  display: flex;
}
.exp-icon {
  height: 80px;
  width: 80px;
  margin: 1rem 1rem 0 0;
}
.exp-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 2rem;
}
.hob-desc,
.exp-body {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  width: 100%;
}
@media all and (min-width: 991px) {
  .exp {
    flex-direction: row;
  }
  .exp-card {
    margin: 2rem 0 2rem 1rem;
  }
  #experience h2 {
    margin: 0 0 0 1rem;
  }
  .exp-icon {
    margin: 0rem 2rem 0 0;
  }
  .exp-body {
    width: 80%;
  }
}
/* experience end */
.hobbies {
  box-sizing: border-box;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
  padding: 1rem;
  margin: 0.5rem;
}
.hobbies h2 {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #4f4f4f;
}
.hobbies-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;
  margin: 1rem 0;
}
.hob-title {
  margin: 1rem 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.hobbies-card img {
  height: 130px;
  border-radius: 12px;
}
@media all and (min-width: 991px) {
  .hobbies h2 {
    margin: 0 0 0 2rem;
  }
  .hobbies-card {
    margin: 2rem 2rem 1rem;
  }
}
/* hobbies ends */
.pagination-1,
.pagination-2 {
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  padding: 1rem;
  margin: 1rem 0.5rem;
}
.pagination-1 h3,
.pagination-2 h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #4f4f4f;
}
.btns button {
  margin: 1rem 1rem 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4f4f4f;
  border: 1px solid #4f4f4f;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 0.5rem 1rem;
}
.btns button:hover{
  border: 1px solid #6AA2EF;
  color: #6AA2EF;
}
.btns .active{
  border: 1px solid #6AA2EF;
  background-color: #6AA2EF;
  color: #fff;
  border: none;
}
.active:hover{
  color: #fff!important;
}
.pagination-3{
  padding: 1rem;
}
.pagination-3 .btns{
  display: flex;
  flex-wrap: wrap;
}
.pagination-3 button{
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev ,.next{
  position: relative;
}
.prev::before,.next::before{
  content: '';
  height: 0;
  width: 0;
  border-bottom: 8px solid #333;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  transform: rotate(-90deg);
}
.next::before{
  transform: rotate(90deg);
}
@media all and (min-width: 500px) {
  section {
    margin: 1rem 5rem;
  }
  #experience {
    margin: 1rem 6rem;
  }
}
@media all and (min-width: 991px) {
  section {
    margin: 2rem 6rem;
  }
  .column-1 {
    margin: auto;
    columns: 2;
  }
}
