* {
  margin: 0;
  padding: 0;
}
body {
  background: #f2f2f2;
  font-family: "montserrat", sans-serif;
}
section {
  margin: 2rem 0;
}
button,
input {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
button:active,
button:focus,
input:focus {
  outline: none;
}
/* utility */
.text-center {
  text-align: center;
}
.upper {
  text-transform: uppercase;
}
.capital {
  text-decoration: capitalize;
}
.m-auto {
  margin: auto;
}
.ml-auto {
  margin-left: auto;
}
.img-fluid {
  display: block;
  width: 100%;
}
.heading-1 {
  font-size: 2rem;
  font-weight: 600;
}
.shadow-b,
shadow {
  transition: all 0.5s;
}
.shadow-b:hover {
  box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.25);
}
.shadow:hover {
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.25);
}
/* components */
.about-me {
  border-radius: 0.7rem;
  position: relative;
  background-color: #fff;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.about-me img {
  height: 300px;
  object-fit: cover;
  object-position: 100% 20%;
  border-radius: 0.6rem;
}
.user-info {
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.who-am-i {
  margin: 1rem 0;
}
.who-am-i h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #4f4f4f;
  margin: 0;
}
.who-am-i p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}
.contact-info {
  margin: 1rem 0;
}
.contact-info span {
  color: #4f4f4f;
  margin: 0 0.8rem 0 0;
  vertical-align: middle;
}
.contact-info h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4f4f4f;
  margin: 0 0 0.5rem;
}
.intro {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
}
/* media queries */
@media all and (min-width: 500px) {
  .about-me {
    margin: 1rem 5rem;
  }
}
@media all and (min-width: 768px) {
  .about-me {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem;
    transition: all 0.5s;
  }
  .about-me img {
    height: 250px;
    width: 350px;
  }
  .who-am-i h3 {
    margin: 0 0 0.5rem;
  }
  .user-info {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0 1rem;
  }
  .intro {
    display: block;
    margin: 1.5rem 0 0;
    padding: 0 0 0 1rem;
  }
}
@media all and (min-width: 991px) {
  .about-me {
    margin: 2rem 6rem;
  }
  .about-me img {
    height: 300px;
  }
  .user-info {
    margin: 0 1rem;
  }
  .intro {
    margin: 2rem 1rem 0;
    padding: 0 5rem 0 1rem;
  }
}
/* about me ends */
.blog {
  background-color: #fff;
  position: relative;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.blog img {
  height: 250px;
  border-radius: 0.6rem;
}
.content {
  padding: 0;
}
.blog-tags {
  margin: 1rem 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
}
.blog-title {
  margin: 1rem 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.blog-desc {
  margin: 1rem 0 2rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.blog-btns {
  margin: 1rem 0;
}
.blog-btns button {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 0.7rem 2rem;
  border-radius: 12px;
  transition: all 0.5s;
}
.cta-1 {
  color: #ffffff;
  background: #5c94e1;
}
.cta-1:hover {
  background-color: #fff;
  color: #5c94e1;
  border: 1px solid #5c94e1;
}
.cta-2 {
  margin: 0 0 0 0.5rem;
  color: #5c94e1;
  border: 1px solid #5c94e1;
}
.cta-2:hover {
  color: #ffffff;
  background: #5c94e1;
}
@media all and (min-width: 500px) {
  .blog {
    margin: 1rem 5rem;
  }
}
@media all and (min-width: 768px) {
  .blog {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 1rem;
    transition: all 0.5s;
  }
  .blog img {
    height: 250px;
    width: 350px;
  }
  .content {
    padding: 0 0 0 1.5rem;
  }
  .blog-tags {
    margin: 0 0 1rem;
  }
  .blog-title {
    margin: 2rem 0 1rem;
  }
  .blog-desc {
    margin: 1rem 0 2rem;
  }
  .blog-btns {
    margin: 1rem 0 0;
  }
}
@media all and (min-width: 991px) {
  .blog {
    margin: 2rem 6rem;
  }
  .blog img {
    height: 300px;
  }
  .content {
    padding: 0 0 0 3rem;
  }
  
  .blog-desc {
    display: block;
    margin: 1rem 10rem 4.7rem 0;
  }
}
