* {
  margin: 0;
  padding: 0;
}
:root {
  $default-gray: #e0e0e0;
  $default-gray-dark: #aeaeae;
  $primary-color: #2962ff;
  $primary-color-dark: #0039cb;
  $secondary-color: #455a64;
  $secondary-color-dark: #1c313a;
  $danger-red: #d32f2f;
  $danger-red-dark: #9a0007;
}
a{
  background-color: transparent;
  text-decoration: none;
}
main {
  margin: 0.5rem;
}
h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #4f4f4f;
}
button {
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}
@mixin btns($color, $bgc) {
  cursor: pointer;
  color: $color;
  background-color: $bgc;
  font-family: Noto Sans JP;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 0.3rem;
  text-transform: capitalize;
  margin: 0.5rem auto 0.5rem 0;
  transition: all 0.3s;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@mixin hovermixin($bgc) {
  &:hover {
    background-color: $bgc;
  }
  &:focus {
    background-color: $bgc;
  }
  &:active {
    background-color: $bgc;
  }
}
.group {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.d-flex {
  margin: 1rem 0 0;
  display: flex;
  flex-direction: column;
}
@mixin title($color) {
  font-family: Ubuntu Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: $color;
}
.title {
  @include title(#333333);
}
.title-muted {
  @include title(#828282);
}
.btn-default {
  @include btns(#3f3f3f, #e0e0e0);
  @include hovermixin(#aeaeae);
}
.btn-default-hover {
  @include btns(#3f3f3f, #aeaeae);
}
.btn-outline {
  @include btns(#3d5afe, #ffffff);
  border: 1px solid #3d5afe;
  @include hovermixin(rgba(41, 98, 255, 0.1));
}
.btn-outline-hover {
  @include btns(#3d5afe, rgba(41, 98, 255, 0.1));
  border: 1px solid #3d5afe;
}

.btn-text {
  @include btns(#3d5afe, #ffffff);
  @include hovermixin(rgba(41, 98, 255, 0.1));
}
.btn-text-hover {
  @include btns(#3d5afe, rgba(41, 98, 255, 0.1));
}
.btn-disable-shadow {
  @include btns(#fff, #3d5afe);
}
.btn-disabled {
  @include btns(#9e9e9e, #e0e0e0);
  @include hovermixin(#ffffff);
  cursor: not-allowed;
}
.btn-disabled-hover {
  cursor: not-allowed;
  @include btns(#9e9e9e, #ffffff);
}
.btn-primary-sm {
  @include btns(#fff, #3d5afe);
  padding: 0.3rem 0.5rem;
}
.btn-primary-md {
  @include btns(#fff, #3d5afe);
}
.btn-primary-lg {
  @include btns(#fff, #3d5afe);
  padding: 0.7rem 2rem;
}
.btn-primary {
  @include btns(#fff, #3d5afe);
  @include hovermixin(#0039cb);
  & span {
    vertical-align: middle;
    font-size: 1.1rem;
  }
}
.btn-primary-hover {
  @include btns(#ffffff, #0039cb);
}
.btn-secondary {
  @include btns(#fff, #455a64);
  @include hovermixin(#1c313a);
}
.btn-secondary-hover {
  @include btns(#ffffff, #1c313a);
}
.btn-danger {
  @include btns(#fff, #d32f2f);
  @include hovermixin(#9a0007);
}
.btn-danger-hover {
  @include btns(#ffffff, #9a0007);
}
footer {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #a9a9a9;
  text-align: center;
}
@media all and (min-width:768px){
    main{
        margin: 1rem 4rem;
    }
}
@media all and (min-width:991px){
    .group {
        margin: 1rem 0;
        justify-content: start;
    }
    .d-flex{
        margin: 0 auto 0 0;
    }
    main{
        margin: 1rem 8rem;
    }
}